@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               First Page!!
            </p>
        </div>
    </section>
}
<h3>Various websites</h3>
<ol class="round">
    <li class="one">
        <h5>Login Link</h5>
        
        <a href="http://localhost:50215/home/logintrail">DataLogIn</a>
    </li>

    <li class="two">
        <h5>Amazon Website</h5>
         
        <a href="http://amazon.com">Amazon</a>
    </li>

    <li class="three">
        <h5>Google Link</h5>
         
        <a href="http://google.com">Google</a>
    </li>
</ol>
