@{
    ViewBag.Title = "logintrail";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>

    $(document).ready(function () { });
    function save() {
        
        var name = document.getElementById("inputname").value;
        var id = document.getElementById("inputID").value;
        var date = document.getElementById("inputDate").value;
        var gender = document.getElementById('Male').checked;

        var gender_value;
        if (gender == true) {
            gender_value = 'Male';
        }
        else {
            gender_value = 'Female';
        }
      
       
        //alert(name + "  " + id + "  " + date + "  " + gender_value);
     
        $.ajax({
            url: "../Home/save",
            data: '{name:"' + name + '",id:"' + id + '",date:"' + date + '",gender:"' + gender + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function GetDetails() {
        debugger
        $.ajax({
            url: "../Home/GetDetails",           
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
               
                $('#tbldata').empty();
                var obj = JSON.stringify(result);
                var str = $.parseJSON(obj);

                for (i = 0; i < str.length; i++) {
                    if (str[i]["gender"] == 'false') {
                        var f = 'female';
                    }
                    if (str[i]["gender"] == 'true') {
                        var f = 'male';
                    }
                    $('#tbldata').append(" <tr><th style ='text-align:center'>" + str[i]["id"] +
                        "</th><th style ='text-align:center'>" + str[i]["name"] +
                        "</th><th style ='text-align:center'>" + f +
                        "</th><th style ='text-align:center' >" + str[i]["Date1"] +
                        "</th><th style ='text-align:center'><i onclick='editDetails(" + str[i]["id"] + ")' class='fa-solid fa-pen'></i></th><th style ='text-align:center'><i onclick='deleteDetails(" + str[i]["id"] + ")' class='fa-solid fa-trash'></i></th></tr>");
              
                }
         },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function editDetails(id) {
debugger
        $.ajax({ 
            url: "../Home/editDetails",
            data: '{id:"' + id + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var obj = JSON.stringify(result);
                var str = $.parseJSON(obj);
                $('#inputname').val(str[0]["name"]);
                $('#inputID').val(str[0]["id"]);
                $('#gender').val(str[0]["gender"]);
                $('#inputDate').val(str[0]["date"]);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function update() {
        //
    }


    function deleteDetails(id){
        //
       
        $.ajax({
            url: "../Home/deleteDetails",
            data: '{id:"' + id + '"}',
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                GetDetails();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>



<h2>logintrail</h2>
<div>
    <div class="form-group row">
        <label for="inputname" class="col-sm-2 col-form-label">Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputname" placeholder="Name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputID" class="col-sm-2 col-form-label">ID:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputID" placeholder="userID" required>
        </div>
        <div class="form-group row">
            <label for="inputID" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input type="DATE" class="form-control" id="inputDate" placeholder="YYYY/MM/DD" required>
            </div>
        </div>
        <fieldset class="form-group" id="gender">

            <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
            <div class="col-sm-10" id="gender">
                <label class="col-sm-2 col-form-label">Gender:</label>

                <table>
                    <tr>
                        <td>
                            <label class="form-check-label" for="Male">
                                Male
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="radio" name="gridRadios" id="Male" value="Male"></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="form-check-label" for="Female">
                                Female
                            </label>
                        </td>
                        <td>
                            <input class="form-check-input" type="radio" name="gridRadios" id="Female" value="Female"></td>
                    </tr>
                </table>
            </div>

        </fieldset>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" onclick="save()">Submit</button>
                
            </div>
        </div>
        
</div>

<button onclick="GetDetails()" style="padding:10px; margin:5px;background-color:greenyellow" >Show Data</button>
<table style="border:double">
    <thead>
        <tr style="border:double; padding:10px; margin:5px">
    <th style="padding:10px; margin:5px">ID</th>
    <th  style="padding:10px; margin:5px">Name</th>
    <th  style="padding:10px; margin:5px">Gander</th>
    <th  style="padding:10px; margin:5px">Date</th>
    <th  style="padding:10px; margin:5px">Update</th>
    <th  style="padding:10px; margin:5px">Delete</th>
  </tr>
    </thead>
    <tbody id="tbldata"></tbody>

  
 
</table>